/*
* ADres the AddressBook default css
*
*@author Rajib Ahmed
*/

/*---------------------------------
|	main navigation 
|---------------------------------*/

.adres-navigation ul{ list-style:none; display:inline;}

.adres-navigation ul li{
	width:120px;
	float:left;
	height:34px;
	background:#ccc;
	line-height:34px;
/*	margin-right:10px;*/
	text-align:center;
}

.adres-navigation ul li a{
	text-decoration:none;
	display:block;
	background:#DFE;
}

.adres-navigation ul li a:hover{
	font-weight:bold;
	color: #738389;
	background-color: #d2d2d2;
}

/*---------------------------------
|	left sidebar 
|---------------------------------*/
.adres-left-sidebar{
	
}


/*---------------------------------
|	right sidebar 
|---------------------------------*/
.adres-right-sidebar{
	
}

/*---------------------------------
|	contacts panle
|---------------------------------*/
.adres-contact-panel{
	
}

/*---------------------------------
|	DataGrids
|---------------------------------*/
.adres-datagrid th{
    border: 1px #ccc solid;
    background: #d2d2d2;
}

.adres-datagrid td{
    border: 1px #ccc solid;
}

.address-datagrid .zebra{
    background: #f2f2f2;
}
