a			{
			text-decoration: none;
			color: #047;
			outline: none;
			}
			
input, select {
			outline: none;
			}

body		{
			font-size: 12px;
			color: #444;
			}

.clear		{
			clear: both;
			}

.container	{
			width: 100%;
			}

/*/////////////////////////////// Header ///////////////////////////////////*/

.header		{
			height: 40px;
			background: url(images/header.jpg) repeat-x;
			}

			.header .logo			{
									padding: 11px 0 0 15px;
									}

			.header .adres-menu		{
									float: right;
									height: 36px;
									margin: 2px 2px 0 0;
									background: url(images/adres-menu.jpg) repeat-x;
									}

			.header a				{
									float: left;
									height: 36px;
									padding: 0 7px;
									font: bold 13px/35px Arial;
									color: #ccc;
									border-left: 1px solid #444;
									overflow: hidden;
									outline: none;
									}

			.header a:hover			{
									color: #fff;
									background-color: #444;
									}

			.header a.selected		{
									color: #fff;
									background-color: #444;
									}

			.header a.home			{
									height: 16px;
									width: 60px;
									padding: 10px 12px;
									background: url(images/nav_home.png) no-repeat center center;
									}

			.header a.home:hover	{
									background: url(images/nav_home_hov.png) no-repeat center center;
									}

			.header a.admin			{
									height: 16px;
									width: 121px;
									padding: 10px 12px;
									background: url(images/nav_admin.png) no-repeat center center;
									}

			.header a.admin:hover	{
									background: url(images/nav_admin_hov.png) no-repeat center center;
									}

			.header a.logout		{
									height: 16px;
									width: 75px;
									padding: 10px 12px;
									background: url(images/nav_logout.png) no-repeat center center;
									}

			.header a.logout:hover	{
									background: url(images/nav_logout_hov.png) no-repeat center center;
									}

/*/////////////////////////////// Adres Button ///////////////////////////////////*/

.top-button		{
				text-indent: -9999px;
				}

/*/////////////////////////////// Login ///////////////////////////////////*/

.login		{
			margin: 0 auto;
			width: 300px;
			padding: 0 0 100px 0;
			text-align: center;
			outline: none;
			}

			.big_logo		{
							margin: 100px 0 -5px 0;
							}

			.login_con		{
							float: left;
							height: 215px;
							width: 260px;
							padding: 20px 15px 15px 25px;
							background: url(images/login_mid.png) repeat-x;
							text-align: left;
							border-radius: 5px; 
							-moz-border-radius: 5px; 
							-webkit-border-radius: 5px; 
							-khtml-border-radius: 5px;
							margin-bottom: 100px;
							}
							
							.login_con .login_form	{
													padding: 5px 0 0 0;
													}

							.login_con h2			{
													text-align: center;
													font: normal 17px Arial;
													color: #888;
													letter-spacing: 2px;
													text-transform: uppercase;
													padding: 25px 0 5px 0;
													}

							.login_con input		{
													width: 235px;
													outline: none;
													}
												
							.login_con label		{
													float: left;
													margin-top: 8px;
													}

							.login_con input.submit	{
													float: left;
													width: 67px;
													height: 26px;
													margin-top: 10px;
													background: url(images/but_login.png) no-repeat;
													padding: 0;
													border: none;
													outline: none;
													}

							.login_con a.forgot		{
													float: left;
													font: normal 11px Arial;
													color: #047;
													margin: 15px 0 0 5px;
													outline: none;
													}

							.login_con a.signup		{
													clear: both;
													float: left;
													font: bold 12px Arial;
													color: #333;
													margin: 10px 0 0 0;
													outline: none;
													}

/*/////////////////////////////// Tabs ///////////////////////////////////*/

.ui-tabs { padding: 0; zoom: 1; background: none; border: none; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: 0 0 0 201px; background: none; border: none; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border: none; background: url(images/tab_idle.png) repeat-x; height: 30px; margin: 0 0 -1px 0; padding: 0 0 0 10px; border-top: 1px solid #cdcdcd; border-left: 1px solid #cdcdcd; border-right: 1px solid #cdcdcd; border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -khtml-border-radius: 5px 5px 0 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; height: 30px; font-size: 13px; line-height: 18px; color: #888; padding-right: 25px; }
.ui-tabs .ui-tabs-nav li a:hover { color: #333; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; background: url(images/tab_selected.png) repeat-x; height: 30px; border-top: 1px solid #E9E6E5; border-left: 1px solid #E9E6E5; border-right: 1px solid #E9E6E5; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; color: #454545; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { padding: 0; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-tabs .ui-tabs-nav li.create-contact { position: relative; float: left; border: none; background: url(images/tab_plus.png) no-repeat; width: 37px; height: 30px; margin: 0 0 -1px 0; padding: 0; opacity: 1; border-top: 1px solid #E9E6E5; border-left: 1px solid #E9E6E5; border-right: 1px solid #E9E6E5; }
.ui-tabs .ui-tabs-nav li.create-contact a { width: 37px; cursor: pointer; }

/*/////////////////////////////// Adres User Left Pannel ///////////////////////////////////*/

.adres-left-sidebar		{
						float: left;
						width: 198px;
						margin: 0 1px 0 0;
						padding: 3px 0 2px 2px;
						border: none;
						overflow: hidden;
						}

/*/////////////////////////////// Adres User Left Pannel Box ///////////////////////////////////*/

.adres-left-sidebar-box		{
							width: 194px;
							margin-top: 5px;
							overflow: hidden;
							background: #F6F5F4 url(images/left_pannel_head.png) no-repeat;
							border-radius: 3px; 
							-moz-border-radius: 3px; 
							-webkit-border-radius: 3px; 
							-khtml-border-radius: 3px;
							}

.adres-left-sidebar-head	{
							height: 30px;
							}

							.adres-left-sidebar-head p		{
															font: bold 12px/30px Arial;
															color: #5c5c5c;
															text-indent: 8px;
															text-transform: uppercase;
															}

							.adres-left-sidebar-head img	{
															float: right;
															height: 16px;
															width: 16px;
															margin: 7px 6px 0 -3px;
															}

.adres-left-sidebar-content	{
							width: 184px;
							overflow: hidden;
							padding: 10px 5px 5px 5px;
							}

/*/////////////////////////////// Adres User Search ///////////////////////////////////*/

.adres-search			{
						padding: 0 0 3px 2px;
						}

.adres-search input		{
						float: left;
						height: 16px;
						width: 146px;
						background: url(images/search.png) no-repeat;
						border: none;
						margin: 0;
						padding: 2px 0 2px 5px;
						outline: none;
						}

.adres-search .search-submit	{
								width: 29px;
								background: url(images/search_button.png) no-repeat;
								text-indent: -9999px;
								cursor: pointer;
								height: 20px;
								}	

.adres-search a.advance			{
								font: normal 11px Arial;
								color: #437ba5;
								margin: 3px 0 -5px 2px;
								outline: none;
								}

.adres-search a.advance:hover	{
								color: #047;
								}

/*/////////////////////////////// Adres User Filter ///////////////////////////////////*/

.adres-filter-hold			{
							color: #888;
							padding: 0 5px;
							}

.adres-filter-hold input	{
							width: 160px;
							font: normal 11px Arial;
							padding: 2px 0 2px 4px;
							}

.adres-filter-hold label	{
							float: left;
							margin-bottom: 0;
							font: bold 11px/18px Arial;
							color: #179BAA;
							}

.adres-filter-hold a		{
							float: left;
							height: 20px;
							font: bold 11px/20px Arial;
							color: #047;
							margin-right: 10px;
							}

.adres-filter-hold a:hover	{
							text-decoration: underline;
							}

.adres-filter-hold a.filter-bullet	{
									background: url(images/bullet.png) no-repeat left center;
									padding-left: 18px;
									margin-top: -1px;
									}

.adres-filter-hold .filter-save		{
									width: 49px;
									height: 20px;
									background: url(images/button_save.png) no-repeat;
									text-indent: -9999px;
									border: none;
									margin-bottom: 10px;
									}
									
.adres-filter-hold .filter-add		{
									width: 99px;
									height: 20px;
									background: url(images/button_add.png) no-repeat;
									text-indent: -9999px;
									border: none;
									margin: 10px 0 10px 10px;
									}
									
.adres-filter-hold .group_list		{
									width: 150px;
									height: 25px;
									margin: 5px 0 0 10px;
									border-radius: 4px; 
									-moz-border-radius: 4px; 
									-webkit-border-radius: 4px; 
									-khtml-border-radius: 4px;
									}

/*/////////////////////////////// Adres Contacts Pannel ///////////////////////////////////*/
			
#adres-contacts-holder	{
						padding: 5px;
						}

.adres-contacts-panel	{
						float: left;
						overflow: hidden;
						border: 1px solid #E9E6E5;
						background: url(images/right_top.jpg) repeat-x;
						border-radius: 0 4px 4px 4px; 
						-moz-border-radius: 0 4px 4px 4px; 
						-webkit-border-radius: 0 4px 4px 4px;  
						-khtml-border-radius: 0 4px 4px 4px;
						}

/*/////////////////////////////// Adres Basic Pannel ///////////////////////////////////*/

#adres-basic-panel		{
						height: 30px;
						background: url(images/basic_pannel.jpg) repeat-x;
						margin-top: 2px;
						}

						#adres-basic-panel a		{
													float: left;
													height: 20px;
													width: 90px;
													margin: 5px 0 0 5px;
													padding: 0;
													font: bold 11px/20px Arial;
													color: #555;
													background-color: #ededed;
													border: 1px solid #bbb;
													outline: none;
													border-radius: 3px;
													-moz-border-radius: 3px;
													-webkit-border-radius: 3px;
													-khtml-border-radius: 3px;
													}

						#adres-basic-panel a:hover	{
													color: #252525;
													}

						#adres-basic-panel select	{
													float: left;
													height: 20px;
													width: 90px;
													background-color: #ededed;
													margin: 5px 0 0 5px;
													padding: 0;
													font: normal 11px Arial;
													color: #666;
													outline: none;
													border: 1px solid #bbb;
													border-radius: 3px; 
													-moz-border-radius: 3px; 
													-webkit-border-radius: 3px;  
													-khtml-border-radius: 3px;
													}

						#adres-basic-panel input	{
													float: left;
													height: 20px;
													width: 90px;
													margin: 5px 0 0 5px;
													padding: 0;
													font: normal 11px Arial;
													color: #444;
													background-color: #ededed;
													border: 1px solid #bbb;
													outline: none;
													border-radius: 3px; 
													-moz-border-radius: 3px; 
													-webkit-border-radius: 3px;  
													-khtml-border-radius: 3px;
													}

/*/////////////////////////////// Adres Data Grid ///////////////////////////////////*/

.adres-datagrid				{
							padding: 6px 5px;
							}

.adres-datagrid .tr-select	{
							border-top: 1px solid #bbb;
							border-bottom: 1px solid #bbb;
							}

.adres-datagrid .tr-even	{
							background-color: #f3f3f3;
							}

a.adres-edit				{
							float: left;
							height: 16px;
							width: 16px;
							text-indent: -9999px;
							background: url(images/edit.png) no-repeat center center;
							outline: none;
							}

a.adres-delete				{
							float: left;
							height: 16px;
							width: 16px;
							text-indent: -9999px;
							background: url(images/delete.png) no-repeat center center;
							outline: none;
							}

.up-down					{
							float: right;
							width: 30px;
							color: #bbb;
							}

.up-down a					{
							float: left;
							padding-left: 0 !important; 
							margin-top: -3px;
							}

.up-down span				{
							float: left;
							}

.no-record					{
							padding: 20px 0 5px 5px;
							font: bold 12px Verdana;
							color: #00A7B8;
							}

/*/////////////////////////////// Adres Data Grid Page Count ///////////////////////////////////*/

.adres-paginator			{
							padding: 6px 5px;
							color: #555;
							}

.adres-paginator a			{
							font: bold 12px Arial;
							color: #333;
							background-color: #fff;
							border: 1px solid #e1e2e2;
							padding: 3px 5px;
							}

.adres-paginator a:hover	{
							background-color: #CFD4E7;
							}

.adres-paginator span		{
							border: none;
							margin: 0;
							padding: 0;
							}

.adres-paginator span.selected		{
									border: none;
									background: none;
									margin: 0;
									padding: 0;
									}

.adres-paginator span.selected a	{
									color: #fff;
									background-color: #555;
									}

.adres-paginator span.total-page	{
									font-weight: bold;
									color: #333;
									}

/*/////////////////////////////// Adres Administrator Pannel ///////////////////////////////////*/

.index h2	{
			padding: 15px 0 10px 5px;
			margin-bottom: 0px;
			font: normal 15px Verdana;
			color: #666;
			letter-spacing: 2px;
			text-transform: uppercase;
			}

.index p	{
			padding: 0 0 10px 5px;
			margin-bottom: 0px;
			font: normal 12px Verdana;
			color: #999;
			}

table.adres-datagrid th a	{
							font-size: 13px;
							color: #333;
							text-transform: capitalize;
							}

table.adres-datagrid td		{
							padding: 5px 10px;
							}

table.adres-datagrid td a	{
							color: #555;
							}
							
#TypeSelectOptionAddForm	{
							padding: 12px 7px 12px 12px;
							border: 1px solid #bcbcbc;
							background-color: #fff;
							font: normal 11px Arial;
							margin-bottom: 15px;
							color: #555;
							border-radius: 0 4px 4px 4px;
							-moz-border-radius: 0 4px 4px 4px;
							-webkit-border-radius: 0 4px 4px 4px;
							-khtml-border-radius: 0 4px 4px 4px;
							}
							
							#TypeSelectOptionAddForm input	{
															padding: 3px 5px;
															color: #555;
															}
															
							#TypeSelectOptionAddForm .submit input	
															{
															padding: 2px 10px;
															}

/*/////////////////////////////// Adres Disabled ///////////////////////////////////*/

.paging .disabled		{
						float: left;
						font: bold 11px Arial;
						text-transform: capitalize;
						padding: 9px 0 0 5px;
						}

.paging a				{
						float: left;
						font: bold 11px Arial;
						color: #555;
						text-transform: capitalize;
						padding: 9px 0 0 5px;
						}

.paging a:hover			{
						color: #047;
						}

.paging span			{
						float: left;
						padding: 7px 0 0 5px;
						}

.paging span a			{
						padding: 2px 0 0 0;
						font-weight: normal;
						}

.paging span.current	{
						font: bold 13px Arial;
						}

/*/////////////////////////////// Adres Actions ///////////////////////////////////*/

.add_action				{
						padding: 10px 0 0 0;
						clear: both;
						}

.add_action ul			{
						margin: 0;
						padding: 0;
						}

.add_action ul li		{
						float: left;
						list-style: none;
						background: red url(images/add_action.jpg) no-repeat top left;
						margin: 5px 8px 0 0;
						height: 36px;
						padding-left: 40px;
						}

.add_action ul li a			{
							float: left;
							font: bold 12px/37px Arial;
							color: #555;
							padding-right: 15px;
							height: 36px;
							background: url(images/add_action.jpg) no-repeat top right;
							outline: none;
							}

.add_action ul li a:hover	{
							color: #047;
							}

.actions a	{
			margin-right: 5px;
			}

/*/////////////////////////////// Adres Form ///////////////////////////////////*/

.container h1			{
						font: normal 22px Arial;
						color: #008AB0;
						margin: 15px 0;
						}

.form fieldset, .affiliations fieldset
						{
						margin: 5px 0 10px 0;
						padding: 5px 20px 20px 20px;
						}

.form fieldset legend, .affiliations fieldset legend
						{
						color: #008AB0;
						}

.form fieldset label, .affiliations fieldset label	
						{
						float: left;
						width: 130px;
						color: #999;
						margin-top: 5px;
						text-align: right;
						clear: both;
						}

.form fieldset input, .form fieldset select, .affiliations fieldset input, .affiliations fieldset select
											{
											margin: 3px 0 0 10px;
											color: #555;
											padding: 2px;
											}

.form input, .form select, .affiliations input, .affiliations select	
							{
							margin: 0 0 15px 0;
							}

.regi_link a				{
							float: left;
							margin: 10px 10px 0 0;
							}

/*/////////////////////////////// Footer ///////////////////////////////////*/

#footer		{
			clear: both;
			text-align: center;
			height: 50px;
			font: normal 10px Arial;
			color: #aaa;
			line-height: 50px;
			margin-top: 5px;
			border-top: 1px solid #F3F3F3;
			}

/*/////////////////////////////// Popup ///////////////////////////////////*/

div#adres-dialog label	{
						line-height: 18px;
						text-transform: capitalize;
						color: #179BAA;
						}

.ui-autocomplete-input	{
						padding: 3px;
						width: 225px;
						}

.ui-widget-overlay		{
						background: #000 url(images/x.png) repeat;
						}

.ui-dialog				{
						border-radius: 4px; 
						-moz-border-radius: 4px; 
						-webkit-border-radius: 4px; 
						-khtml-border-radius: 4px;
						background: #dbdbdb url(images/popup_bg.png) repeat-x;
						}

.ui-widget-content .ui-widget-content		
						{
						background: url(images/xpopup_bg.png) repeat-x;
						}

.ui-widget-content .ui-tabs .ui-tabs-nav		
						{
						padding: 0;
						margin-top: 4px;
						}

.ui-widget-content .ui-tabs .ui-tabs-nav li 
						{ 
						padding: 0;
						}

.ui-widget-content .ui-tabs .ui-tabs-nav li a
						{
						font-size: 12px;
						padding: 5px 10px 0 10px;
						}

.ui-widget-content .ui-tabs .ui-tabs-nav li.ui-tabs-selected 
						{
						border-top: 1px solid #bcbcbc; 
						border-left: 1px solid #bcbcbc; 
						border-right: 1px solid #bcbcbc;
						background: #fff url(images/xpopup_bg.png) repeat-x;
						}

#contact-window			{
						padding: 12px;
						border: 1px solid #bcbcbc;
						background-color: #fff;
						font: normal 11px Arial;
						margin-bottom: 15px;
						color: #555;
						border-radius: 0 4px 4px 4px;
						-moz-border-radius: 0 4px 4px 4px;
						-webkit-border-radius: 0 4px 4px 4px;
						-khtml-border-radius: 0 4px 4px 4px;
						}
						
#contact-window table	{
						margin-top: 5px;
						border-right: 1px solid #e9e9e9;
						border-bottom: 1px solid #e9e9e9;
						}
						
#contact-window table th, #contact-window form th, #contact-window table td, #contact-window form td
						{
						border-top: 1px solid #e9e9e9;
						border-left: 1px solid #e9e9e9;
						padding: 5px;
						}
						
#contact-window a		{
						border-radius: 3px;
						-moz-border-radius: 3px;
						-webkit-border-radius: 3px;
						-khtml-border-radius: 3px;
						}

#AdvanceSearchAddForm, #AffiliationAddForm
						{
						padding: 12px 7px 12px 12px;
						border: 1px solid #bcbcbc;
						background-color: #fff;
						font: normal 11px Arial;
						margin-bottom: 15px;
						color: #555;
						border-radius: 0 4px 4px 4px;
						-moz-border-radius: 0 4px 4px 4px;
						-webkit-border-radius: 0 4px 4px 4px;
						-khtml-border-radius: 0 4px 4px 4px;
						}
						
.advance_search_contact	{
						padding: 4px;
						color: #555;
						}						

#adres-dialog			{
						padding: 5px;
						}

#adres-dialog h3		{
						font: bold 12px Arial;
						}

#adres-dialog input.adres-button
			 			{
						font: bold 11px Arial;
						text-transform: capitalize;
						}

.ui-dialog .ui-dialog-content
						{
						padding: 0 0 0 1px;
						}

.ui-dialog-titlebar		{
						border-radius: 4px;
						-moz-border-radius: 4px;
						-webkit-border-radius: 4px;
						-khtml-border-radius: 4px;
						background: #cdd2e6 url(images/basic_pannel.jpg) repeat-x;
						margin: 5px 4px 0 5px;
						padding: 0;
						}

.ui-dialog-titlebar span	{
							font-size: 13px;
							}

.ui-dialog-titlebar a.ui-dialog-titlebar-close:hover
							{
							background: none;
							border: none;
							}

input[type="text"], input[type="password"], input.text, input.title, textarea, select
							{
							margin: 0;
							border-radius: 3px;
							-moz-border-radius: 3px;
							-webkit-border-radius: 3px;
							-khtml-border-radius: 3px;
							}

.input, .select, .text, .submit
							{
							margin: 7px 0 4px 0;
							}
							
							.submit input	{
											padding: 2px 10px;
											font: bold 11px Arial;
											color: #444;
											}
							
/*/////////////////////////////// Popup Group Joinning ///////////////////////////////////*/							

.joined_group			{
						border-bottom: 1px dotted #aaa;
						margin-bottom: 10px;
						padding-bottom: 10px;
						}
						
						.joined_group p			{
												font: bold 12px Verdana;
												color: #00A7B8;
												margin: 0px;
												}
												
						.joined_group p.active	{
												padding: 0 0 3px 0;
												border-bottom: 1px dotted #aaa;
												}
												
						.joined_group ul		{
												margin: 10px 0 0 0;
												padding: 0;
												}
												
						.joined_group ul li		{
												list-style: none;
												line-height: 22px;
												}
												
						.joined_group ul li span	{
													font: normal 12px Verdana;
													color: #666;
													}
													
						.joined_group ul li a		{
													color: #aaa;
													}
													
						.joined_group ul li a:hover	{
													color: #444;
													}

/*/////////////////////////////// Group Data ///////////////////////////////////*/

#content h2	{
			padding: 5px 0 5px 6px;
			margin-bottom: 0px;
			font: normal 15px Verdana;
			color: #666;
			letter-spacing: 2px;
			text-transform: uppercase;
			}

#content h3	{
			padding: 20px 0 5px 3px;
			margin-bottom: 0px;
			font: normal 12px Verdana;
			color: #666;
			letter-spacing: 2px;
			text-transform: uppercase;
			}

dt			{
			font: bold 12px Arial;
			color: #888;
			margin: 15px 0 3px 3px;
			border-bottom: 1px solid #BAD840;
			padding-left: 4px;
			}

dd			{
			font: normal 12px Arial;
			color: #444;
			margin: 0 0 0 3px;
			padding-left: 4px;
			}

/*/////////////////////////////// Flash Message ///////////////////////////////////*/

.message	{
			text-align: center;
/*			height: 25px;*/
			font: bold 12px Arial;
			color: #555;
			line-height: 20px;
			margin: 10px 5px 0 5px;
			padding: 5px 0 ;
			border: 3px solid #BAD840;
			}

.message_add	{
				border: 3px solid #BAD840;
				}

.message_remove	{
				border: 3px solid red;
				}
				
/*<<<<<<< Updated upstream*/

.highlight		{
				background: red;
				}

/*>>>>>>> Stashed changes*/
